.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

img{
    display: grid;
    padding: 10px;

}


a:hover {
    background-color:lightcoral;
}


footer{
    padding: 20px;
}
